<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uni.fisal.king.dttbgci">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <application
        android:name=".global_variables"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".RegisterActivity" />
        <activity android:name=".Edit_profileActivity" />
        <activity android:name=".View_profileActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".Add_programActivity" />
        <activity android:name=".List_of_programsActivity" />
        <activity android:name=".ViewProgramActivity" />
        <activity android:name=".Edit_programActivity" />
        <activity android:name=".View_ImageActivity" />
        <activity android:name=".Add_AppointmentActivity" />
        <activity android:name=".Add_MedicationActivity" />
        <activity android:name=".Add_prog_scheduleActivity" />
        <activity android:name=".Add_sugar_levelActivity" />
        <activity android:name=".List_of_schedulesActivity" />
        <activity android:name=".View_Appt_Activity" />
        <activity android:name=".View_medicationActivity" />
        <activity android:name=".View_sugarLevelActivity" />
        <activity android:name=".View_pgrm_sched_Activity" />
        <activity android:name=".Update_prog_schedActivity" />
        <activity android:name=".Update_appt_Activity" />
        <activity android:name=".Update_medication_Activity" />
        <activity android:name=".Update_sugar_leveActivity" />

        <service android:name=".Firebase_notification.FcmInstanceIdService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".Firebase_notification.FcmMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <activity android:name=".List_articleActivity" />
        <activity android:name=".Add_articleActivity" />
        <activity android:name=".View_articleActivity" />
        <activity android:name=".Update_articleActivity" />
        <activity android:name=".Add_inquiryActivity" />
        <activity android:name=".List_of_inquiriesActivity" />
        <activity android:name=".View_inquiryActivity" />
        <activity android:name=".View_commentActivity" />
    </application>

</manifest>